Package: com.ph0qu3_111.custombatteryicon
Name: CustomBatteryIcon
Version: 1.0
Architecture: iphoneos-arm
Description: Custom your battery icon
Maintainer: Ph0qu3_111 <gruillair.raper60@gmail.com>
Author: Ph0qu3_111 <gruillair.raper60@gmail.com>
Section: Tweaks
Depends: mobilesubstrate
